@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

.container{
  background-image: url(imagens/background1.png);
  background-repeat: repeat;
  background-position-x: center;
  background-size: cover;
  display: flex;
  font-size: 3rem;
}
header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #62a261;
    position:fixed;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    margin: 0%;
   }

.logo-pygreen{
    height: 50px;
    width: 50px;
   }

.pygreen{
  height: 50px;
  width: 50px;
  flex-grow: 0;
  width: -80px;
  margin:-95px;  
  position: absolute;
  left: 150px;
  }

.bemvindo{
  margin: auto;
  text-align: center;
  color: white ;
  flex-grow: 0; 
  font-size: 2em;
  position: absolute;
  left: 400px;
  top: 200px;
  background-size: cover;
}

.text-entrada1{
  margin: auto;
  text-align: center;
  color: white ;
  flex-grow: 0; 
  font-size: 0.5em;
  position: absolute;
  left: 0px;
  top: 370px;
  background-size: cover;
}

.botao {
  background-color: #1C5033;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'slackey';
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top:500px;
  left: 640px;
  border-radius: 40px;
}

@media screen and (max-width: 768px) {
  .container{
    width: 100%;
    flex-direction: column;
  }

}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
