@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

html{
    background-image: url(imagens/background1.png);
}

header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #62a261;
    position:fixed;
    width: 200%;
    height: 50px;
    top: 0;
   }

  .logo-pygreen{
    height: 50px;
    width: 50px;
   }

.pygreen{
    font-size: 40px;
    font-family: "Aladin";
    height: 40px;
    width: 50px;
    }